.ourspace-page-content{
    padding-bottom: 50px;
    border-bottom: 1px solid #eeeeee;
}

.ourspace-page-content__hero-banner-overlay {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    z-index: 5;
}

.ourspace-page-content__hero-banner{
    width: 100%;
    height: 60vh;
    position: relative;
    background-image: url('../assets/img/warehouse.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;

    .hero-banner__title{
        position: absolute;
        margin: 0 auto;
        padding-bottom: 20px;
        top: 30%;
        left: 0;
        right: 0;
        max-width: 580px;
        margin: 0 auto;
        color: white;
    
        p{
            line-height: 1.8rem;
        }
    }
    margin-bottom: 100px;
}

.ourspace-page-content__description{
    margin-bottom: 100px;
    .our-space{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-bottom: 35px;
    }
    
    .our-space__description{
        grid-column: 2/6;
        font-size: 14px;
        line-height: 28px;
    }
}

.ourspace-page-content__warehouse-info{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-bottom: 35px;
    margin-top: 50px;

    .ourspace-info__img-container{
        grid-column: 2/5;
        display: grid;
        grid-template-rows: repeat(5,1fr);

        .ourspace-info__img{
            background-image: url('../assets/img/homepageImg.jpg');
            background-size: cover;
            height: 350px;
            grid-row: 2/5;
            font-size: 14px;
            -webkit-box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.23);
            -moz-box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.23);
            box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.23);

            h1{
                font-weight: 400;
                font-size: 6rem;
                background-color: #f5f2ed;
                margin-top: -20px;
                margin-left: -20px;
                padding: 10px;
            }
        }
    }

    .ourspace-info__description{
        width: 100%;
        grid-column: 5/8;
        font-size: 14px;
        line-height: 28px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;

        .ourspace-container{
            border-radius: 6px;
            width: 80%;
            padding: 10px;
            margin: 0 auto;

            p {
                text-align: left;
                letter-spacing: 2px;
            }

            ul {
                li{
                    line-height: 2.8rem;
                    letter-spacing: 2px;
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px){
    .ourspace-page-content__warehouse-info{
        .ourspace-info__img-container{
            grid-column: 2/8;
            display: grid;
            grid-template-rows: repeat(5,1fr);

            .ourspace-info__img{
                background-image: url('../assets/img/homepageImg.jpg');
                background-size: cover;
                grid-row: 2/5;
                font-size: 14px;
                -webkit-box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.23);
                -moz-box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.23);
                box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.23);

                h1{
                    font-weight: 400;
                    background-color: #f5f2ed;
                    margin-top: -20px;
                    margin-left: -20px;
                    padding: 10px;
                    width: 60%;
                }
            }
        }

        .ourspace-info__description{
            width: 100%;
            grid-column: 2/8;
            font-size: 12px;
            line-height: 28px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-left: 30px;

            .ourspace-container{
                border-radius: 6px;
                width: 100%;
                padding: 10px;
                margin: 0 auto;

                p {
                    text-align: left;
                    letter-spacing: 2px;
                }

                ul {
                    li{
                        line-height: 2.8rem;
                        letter-spacing: 2px;
                        text-align: left;
                    }
                }
            }
        }
    }
}