.App {
  text-align: center;
}

.page-layout{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
